RewriteEngine On

RewriteRule ^home$ index.php [L]
RewriteRule ^Depo-Monitor$ dp_monitor.php [L]
RewriteRule ^Wd-Monitor$ wd_monitor.php [L]
RewriteRule ^Depo-History$ dp_history.php [L]
RewriteRule ^Withdraw-History$ wd_history.php [L]
RewriteRule ^Promotion$ promo.php [L]
RewriteRule ^contactus$ contactus.php [L]
RewriteRule ^Dashboard$ Dashboard.php [L]
RewriteRule ^Web-Setting$ web_setting.php [L]
RewriteRule ^Bank-List$ bank_list.php [L]
RewriteRule ^Manual-Depo$ manual_dp.php [L]
RewriteRule ^Manual-Withdraw$ manual_wd.php [L]
RewriteRule ^Logout$ logout.php [L]
RewriteRule ^Member-List$ member_list.php [L]
RewriteRule ^Member-WinLose$ member_winlose.php [L]
RewriteRule ^Member-WinLose-Provider$ member_winlose_provider.php [L]
RewriteRule ^Provider-Win-Lose$ provider_winlose.php [L]